.areOne {
    display: flex;
    position: relative;
    top: 50px;
    left: 400px;
    gap: 10px;
    width: 3%;
}

.areOne img {
    width: 100%;
}

.sameAreOne {
    display: flex;
    position: relative;
    top: 100px;
    left: 400px;
    gap: 10px;
    width: 3%;
}

.sameAreOne img {
    width: 100%;
    rotate: 180deg;
}

.parent {
    display: flex;
    width: fit-content;
    margin-left: 40px;
    width: 13%;
    gap: 80px;
}

.parent img {
    width: 100%;
}

.leftArea {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.leftArea img {
    width: 100%;
    rotate: -90deg;
}

.leftAreaRight {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 45px;
    padding-top: 20px;
}

.leftAreaRight img {
    width: 100%;
    rotate: -270deg;
}

.parentOne {
    position: relative;
    top: -50px;
}

.areaMore {
    display: flex;
    position: relative;
    left: 400px;
    gap: 10px;
    margin-left: 55px;
}

.areaMore img {
    width: 3%;
}

.sameAreaMore {
    display: flex;
    position: relative;
    top: 60px;
    left: 400px;
    gap: 10px;
    margin-left: 55px;
}

.sameAreaMore img {
    width: 3%;
    rotate: 180deg;
}

.parentTwo {
    position: relative;
    top: 80px;
}

.areaMoreTwo {
    display: flex;
    position: relative;
    left: 400px;
    gap: 10px;
    margin-left: 55px;
}

.areaMoreTwo img {
    width: 3%;
}

.sameAreaMoreTwo {
    display: flex;
    position: relative;
    top: 60px;
    left: 400px;
    gap: 10px;
    margin-left: 55px;
}

.sameAreaMoreTwo img {
    width: 3%;
    rotate: 180deg;
}



.parentThree {
    position: relative;
    top: 190px;
}

.areaMoreThree {
    display: flex;
    position: relative;
    left: 400px;
    gap: 10px;
    margin-left: 55px;
}

.areaMoreThree img {
    width: 3%;
}

.sameAreaMoreThree {
    display: flex;
    position: relative;
    top: 60px;
    left: 400px;
    gap: 10px;
    margin-left: 55px;
}

.sameAreaMoreThree img {
    width: 3%;
    rotate: 180deg;
}







.leftParentThree {
    position: relative;
    top: 190px;
}

.leftAreaMoreThree {
    display: flex;
    position: relative;
    left: 10px;
    gap: 10px;
    margin-left: 55px;
}

.leftAreaMoreThree img {
    width: 3%;
}

.leftSameAreaMoreThree {
    display: flex;
    position: relative;
    top: 60px;
    left: 10px;
    gap: 10px;
    margin-left: 55px;
}

.leftSameAreaMoreThree img {
    width: 3%;
    rotate: 180deg;
}

.leftCorner {
    position: relative;
    top: -30px;
    left: 245px;
    rotate: 90deg;
    width: 3%;
}

.leftCorner img{
    width: 100%;
}

.rightCorner {
    position: relative;
    left: 31px;
    rotate: 270deg;
    width: 3%;
    top: -75px;
}

.rightCorner img{
    width: 100%;
}

.upOne{
    display: flex;
    flex-direction: column;
    width: 3%;
    margin-left: 30px;
    margin-top: 2%;
    gap: 10px;
}

.upOne img {
    rotate: -90deg;
}


.rightSideUp{
    display: flex;
    flex-direction: column;
    width: 3%;
    margin-left: 110px;
    margin-top: 2%;
    gap: 10px;
    position: relative;
    top: -420px;
}

.rightSideUp img {
    rotate: 90deg;
}



.upOneAgain {
    display: flex;
    flex-direction: column;
    width: 3%;
    margin-left: 30px;
    gap: 20px;
    position: relative;
    top: -655px;
    left: 200px;
    padding-top: 20px;
    margin-top: 1%;
}

.upOneAgain img {
    rotate: -90deg;
}

.rightSideUpAgain {
    display: flex;
    flex-direction: column;
    width: 3%;
    margin-left: 110px;
    gap: 20px;
    position: relative;
    top: -890px;
    left: 200px;
    margin-top: 1%;
}

.rightSideUpAgain img {
    rotate: 90deg;
}

.meetingRoomOne {
    width: 3%;
    position: relative;
    top: -1400px;
    left: 460px;
    display: flex;
    gap: 10px;
}

.meetingRoomOne img {
    width: 100%;
}

.sameRoomMeeting {
    width: 3%;
    position: relative;
    top: -1400px;
    left: 550px;
    display: flex;
    gap: 10px;
    margin-top: 39px;
}

.sameRoomMeeting img {
    width: 100%;
    rotate: 180deg;
}

.borderNine {
    width: 7%;
    position: relative;
    top: -1496px;
    left: -70px;
    height: 55px;
    background-color: red;
    border-radius: 10px;
    opacity: 0.7;
}

.bossChair {
    width: 4%;
    position: relative;
    top: -1400px;
    left: 450px;
    display: flex;
    gap: 10px;
    margin-top: 39px;
}

.bossChair img {
    width: 100%;
}



/* BORDER FOR ALL TABLES */
.borderAreOne {
    background-color: red;
    height: 60px;
    width: 245px;
    position: relative;
    left: -145px;
    border: none;
    border-radius: 10px;
    top: -2px;
    opacity: 0.8;
}

.borderTwo {
    background-color: red;
    height: 280px;
    width: 105px;
    position: absolute;
    left: 83px;
    border: none;
    border-radius: 10px;
    top: 154px;
    opacity: 0.8;
}

.borderThree {
    width: 210px;
    height: 80px;
    background-color: red;
    opacity: 0.7;
    position: relative;
    border-radius: 10px;
    top: 200px;
    left: -120px;
}

.borderFour {
    width: 210px;
    height: 80px;
    background-color: red;
    opacity: 0.7;
    position: relative;
    border-radius: 10px;
    top: 307px;
    left: -120px;
}

.borderFive {
    width: 210px;
    height: 80px;
    background-color: red;
    opacity: 0.7;
    position: relative;
    border-radius: 10px;
    top: -457px;
    left: -120px;
}

.borderSix {
    position: relative;
    width: 195px;
    height: 70px;
    background-color: red;
    opacity: 0.7;
    left: -509px;
    top: -140px;
    border-radius: 10px;
}

.borderSeven {
    position: relative;
    width: 70px;
    height: 180px;
    background-color: red;
    opacity: 0.7;
    left: -570px;
    top: -200px;
    border-radius: 10px;
}

.borderEight {
    position: relative;
    width: 60px;
    height: 207px;
    background-color: red;
    opacity: 0.7;
    left: -377px;
    border-radius: 10px;
    top: -1113px;
}

.borderTen {
    background-color: red;
    position: relative;
    width: 95px;
    height: 48px;
    top: -1510px;
    left: -160px;
    border-radius: 10px;
    opacity: 0.7;
}


/* CHANGINF THE COLOR OF THE CHAIR WHOLE HOVERING */
.image {
    transition: transform 0.3s ease;
}

.image:hover {
    filter: grayscale(7%) hue-rotate(190deg);
}

